body {
  font-family: "Avenir Next";
  color:#404146;
  text-align: center;
}

li {
  list-style: none;
}

.header {
  background-color: #add8e6;
  color: #5f9ea0;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 30px;
  font-weight:700;
  letter-spacing: 10px;
  padding: 25px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
  font-size: 20px;
}

.header-list a {
  text-decoration: none;
  color:rgb(158, 25, 43);
}

.copy-container {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #000;
}

.copy-container h1 {
  font-size: 140px;
  margin-bottom: 0px;
  letter-spacing: 10px;
  color: #e9967a;
  background-color:#000;
}

.copy-container h2 {
  font-size: 60px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 0px;
  color:#daa520
}

.copy-container span {
  color: #f2d00d;
}

.copy-container img {
  height:300px;
}

.about { 
  font-size: 28px;
  height: 260px;
  background-color: rgb(0, 0, 0);
  padding-top: 80px;
  padding-bottom: 80px;
  color:rgb(158, 25, 43)
}

/*.about h3 {
  padding-top: 80px;
  padding-bottom: 20px;
}*/

.about p {
  padding: 0px 150px;
  font-size: 20px;
  color:#e26c0b
}

.contents {
  height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color:black
}

.contents h3 {
  font-size: 28px;
  padding-bottom: 20px;
  color:rgb(158, 25, 43)
}

.contents-item {
  float: left;
  width: 33.3%;
}

.contents-item img{
  height: 300px;
  box-shadow: 5px 5px 20px rgba(190, 103, 103, 0.886);
  padding:20px
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
  color:rgb(68, 13, 119)
}

.contact-form {
  height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgb(0, 0, 0);
}

.contact-title {
  font-size: 28px;
  padding-bottom: 20px;
  color:rgb(158, 25, 43)
}

input, textarea {
  width: 800px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding:20px;
  font-size: 18px;
  border: 0px;
  background-color: #ffffff;
  border-radius: 15px;
}

::placeholder {
  font-family: "Avenir Next";
  color:rgb(36, 160, 20);
}

.contact-submit{
  width: 500px;
  background-color:#ca5734;
  color:#000000;
  font-size: 22px;
}

.contact-form p{
  font-size: 20px;
}

.footer {
  background-color: #add8e6;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
  font-size: 30px;
  font-weight:700;
  letter-spacing: 10px;
  color:#5f9ea0
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

.footer-list a {
  text-decoration: none;
  color:rgb(158, 25, 43);
}
